body,h1,h2,h3,h4,h5,h6,ul,li,dl,ol,dd,pre{margin:0;padding:0;list-style:none;}
body{font:12px "simhei",Arial,Helvetica,sans-serif;color:#666;}
a{color:#808080;text-decoration:none;}
a:hover{color:#333}
.clear:after{content:"";display:block;clear:both;}
div.main{width:1300px;margin:0 auto;}